
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
    @import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
    .card-img-top{
        height: 200px;

      }
::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

h1 {
    font-weight: 600;
    font-size: 1.5rem;
}

body {
    font-family: 'Poppins', sans-serif;
}

.wrapper {
    display: flex;
}

.main {
    min-height: 100vh;
    width: calc(100% - 70px); /* Adjust width to accommodate the sidebar */
    margin-left: 70px; /* Ensure the content doesn't overlap with the sidebar */
    transition: margin-left .3s ease-out; /* Apply ease-out transition to margin */
    background-color: #fafbfe;
}

#sidebar.expand + .main {
    margin-left: 260px; /* Adjust margin when sidebar expands */
}

#sidebar {
    position: fixed; /* Add fixed position */
    top: 0;
    left: 0;
    height: 100%;
    width: 70px;
    min-width: 70px;
    z-index: 1000;
    transition: all .3s ease-out; /* Add ease-out transition */
    background-color: #0e2238;
    display: flex;
    flex-direction: column;
}

#sidebar.expand {
    width: 260px;
    min-width: 260px;
}


.toggle-btn {
    background-color: transparent;
    cursor: pointer;
    border: 0;
    padding: 1rem 1.5rem;
}

.toggle-btn i {
    font-size: 1.5rem;
    color: #FFF;
}

.sidebar-logo {
    margin: auto 0;
}

.sidebar-logo a {
    color: #FFF;
    font-size: 30px;
    font-weight: 600;
}

#sidebar:not(.expand) .sidebar-logo,
#sidebar:not(.expand) a.sidebar-link span {
    display: none;
}

.sidebar-nav {
    padding: 2rem 0;
    flex: 1 1 auto;
}

a.sidebar-link {
    padding: .625rem 1.625rem;
    color: #FFF;
    display: block;
    font-size: 0.9rem;
    white-space: nowrap;
    border-left: 3px solid transparent;
}

.sidebar-link i {
    font-size: 1.1rem;
    margin-right: .75rem;
}

a.sidebar-link:hover {
    background-color: rgba(255, 255, 255, .075);
    border-left: 3px solid #3b7ddd;
}

.sidebar-item {
    position: relative;
}

#sidebar:not(.expand) .sidebar-item .sidebar-dropdown {
    position: absolute;
    top: 0;
    left: 70px;
    background-color: #0e2238;
    padding: 0;
    min-width: 15rem;
    display: none;
}

#sidebar:not(.expand) .sidebar-item:hover .has-dropdown+.sidebar-dropdown {
    display: block;
    max-height: 15em;
    width: 100%;
    opacity: 1;
}

#sidebar.expand .sidebar-link[data-bs-toggle="collapse"]::after {
    border: solid;
    border-width: 0 .075rem .075rem 0;
    content: "";
    display: inline-block;
    padding: 2px;
    position: absolute;
    right: 1.5rem;
    top: 1.4rem;
    transform: rotate(-135deg);
    transition: all .2s ease-out;
}

#sidebar.expand .sidebar-link[data-bs-toggle="collapse"].collapsed::after {
    transform: rotate(45deg);
    transition: all .2s ease-out;
}

.searchInput{
    width:100%;
}

@media (max-width: 799px) {
  
    .adjustSmallscreen{
        display: flex;
        flex-direction: column;
    }
}

.dropdown-content {
    display: none;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
  }
  
  .dropdown-content.show {
    display: block;
    max-height: 100vh; /* Adjust according to your content height */
    
  }
  


  .navbar button{
  background-color:transparent;
  border-style: none;
  }

  .navbar {
    display: flex;
  }
  
  .nav-btn {
    margin-right: 5px;
    font-weight:bold;
  }
  
  .content {
    display: none;
  }
  
  .content.active {
    display: block;
  }
  

  .dropdown-btn{
    background-color:#b3dff7;
    border-style:solid;
    border-width:1px;
    border-color:#e2edef;
    font-weight:bold;
  }

  .dropdown-content{
    background-color:#f2f5f8;
  }

  .hovering:hover{
    background-color:#d0d4d8;
    width:100%;
    transition:0.3s
  }

  .nav-btn:hover{
    color:#512467;
    transition:0.3s;
    text-decoration:underline;
    

  }

  span{
    font-weight:100;
    font-size:15px;
  }
/* Add this CSS to your stylesheet */
.correct-option {
    color: green;
  }
  
  input[type="radio"][data-correct="true"]:checked + label {
    color: green;
  }
  
  input[type="radio"]:checked + label {
    color: red;
  }
  